<hr class="border border-secondary border-1 opacity-25">

<h3><strong>Contact</strong></h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
<div class="container">
<div class="card bg-light">
    <div class="card-body">
        <form class="row g-3">
            <div class="col-11 ms-5">
                <label for="inputEmail4" class="form-label"><strong>Your E-mail</strong></label>
                <input type="email" class="form-control" id="inputEmail4">
                <label for="exampleFormControlTextarea1" class="form-label"><strong>Your message</strong></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <a href="#" class="btn btn-primary" style="margin-top:20px ;">Submit</a>
            </div>
    </div>
</div>
</div>