<!-- first text -->
<div class="container justify-content-center m-5">
    <div class="row justify-content-center">
         <!--text-->
         <div class="col-9 justify-content-center">
            <div class="my-4">
            <h3 class="d-inline-flex">The Cat Heading</h3>
            <h3 class="text-secondary d-inline-flex">Will Catch Your Eye</h3>
            <p class="d-flex">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra nibh non augue suscipit efficitur. Duis tincidunt volutpat turpis eget vehicula. Nam vitae tincidunt urna. 
                Nam iaculis erat sit amet est consectetur luctus. Maecenas et mauris vitae massa cursus fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam commodo, 
                sem eget sollicitudin egestas, nunc tortor finibus eros, ac hendrerit ante lorem sed ante.</p>
            </div>
        </div>
        <!--photo-->
        <div class="col-3 d-flex justify-content-center flex-column">
            <img class="rounded-circle img-fluid" src="https://fastly.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I">
        </div>
       
    </div>
</div>
<!--Second text-->
<div class="container justify-content-center m-5">
    <div class="row justify-content-center">
        <!--photo-->
        <div class="col-3 d-flex justify-content-center flex-column">
            <img class="rounded-circle img-fluid" src="https://fastly.picsum.photos/id/1/5000/3333.jpg?hmac=Asv2DU3rA_5D1xSe22xZK47WEAN0wjWeFOhzd13ujW4">
        </div>
       <!--text-->
       <div class="col-9 justify-content-center">
        <div class="my-4">
        <h3 class="d-inline-flex">The Second Heading</h3>
        <h3 class="text-secondary d-inline-flex"> Is Pretty Cool Too.</h3>
        <p class="d-flex">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque pharetra nibh non augue suscipit efficitur. Duis tincidunt volutpat turpis eget vehicula. Nam vitae tincidunt urna. 
            Nam iaculis erat sit amet est consectetur luctus. Maecenas et mauris vitae massa cursus fermentum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam commodo, 
            sem eget sollicitudin egestas, nunc tortor finibus eros, ac hendrerit ante lorem sed ante.</p>
        </div>
    </div>
    </div>
</div>