<div style="height: 100%; width: 100%;">
  <nav class="navbar navbar-expand-lg bg-body-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron" style="width:100%;height:100%;">
    <div class="card">
        <img src="https://fastly.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68" alt="">
        <div class="card-img-overlay">
          <h1 class="card-title display-1 fw-bold text-center  mx-3 bg-white">One Page Wonder</h1>
          <h3 class="card-text display-4 fw-bold text-center my-3 mx-3 bg-white">Will knock you socks off</h3>
        </div>
      </div>
</div>